<?php
// FICHIER GERE AVEC ANSIBLE, NE PAS MODIFIER DIRECTEMENT - Modèle : roles/acces_donnees/templates/password.php
define("MYSQL_HOST_MYASSOC", "{{ myassoc_mariadb_db_host }}");
define("MYSQL_USER_MYASSOC", "{{ myassoc_mariadb_appuser_username }}");
define("MYSQL_PASSWORD_MYASSOC", "{{ myassoc_mariadb_appuser_password }}");
// Base de données par défaut, à titre indicatif
define("MYSQL_DEFAULT_DB_MYASSOC", "{{ myassoc_mariadb_dbname }}");